.homepage-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  .homepage-header {
    color: white;
  }
  .game-div {
    // border: 1px solid #4f4f4f;
    width: 80%;
    height: 510px;
    border-radius: 5px;
    // background: #0e1015;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .controls-div {
    border: 1px solid #4f4f4f;
    width: 80%;
    height: 200px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .sub-control {
    width: 40%;
    border: 1px solid #4f4f4f;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    color: white;

    .button-div {
      display: flex;
      justify-content: center;
      height: 30%;
    }
    .ind-button {
      width: 100px;
      border-radius: 5px;
      background: #3f4248;
      border: 0;
      margin-right: 10px;
      font-size: 1.2rem;

      &:hover {
        cursor: pointer;
        background: #c4c4c4;
      }
    }
  }
}
.rooms-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4f4f4f;
//   border-radius: 2px;
  height: 10%;
  width: 10%;
//   margin: 1px;
  background: #0e1015;

  .room-id {
      color: white;
      font-size: 18px
  }
}
.sub-control-text {
  width: 40%;
  border: 1px solid #4f4f4f;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // padding: 10px 0;
  color: white;
  font-size: 1rem;


  p {
    margin: 0.4rem;
  }
  .player {
    // border: 1px solid red;
    width: 100%;
    margin: 0;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4f4f4f;
  }
  #dir-warning {
    margin-right: 5px;
  }
}