.landing-div {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;

  .game-title {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    margin: 2px 0;
  }

  .landing-link {
    color: white;
    text-decoration: underline;
    margin: 1rem 0;
    &:hover {
      color:rgb(182, 223, 250);
    }
  }
  span {
    color: rgb(118, 169, 185);
  }
}
