.unauthorized-header {
    color: white;
}
.unauthorized-div {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.unauthorized-subhead {
    color: white;
}